<a href="https://colab.research.google.com/github/RiditaNizam/PythonDictionaryMethods/blob/main/PythonDictionaryMethods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
cities_lived= dict ()
cities_lived= {
    'Forest Hills': 11375,
    'Schenectady': 12303,
    'Brighton': 2135, #Leading 0 not allowed
    'Brooklyn': 11210,
    'Pasadena': 91107
}

In [28]:
print(cities_lived.get('Dallas',"Ridita never lived in Dallas"))
print(cities_lived.get('Portland',"Ridita never lived in Portland"))

Ridita never lived in Dallas
Ridita never lived in Portland

In [29]:
print(cities_lived.keys())
print(cities_lived.values())

dict_keys(['Forest Hills', 'Schenectady', 'Brighton', 'Brooklyn', 'Pasadena'])
dict_values([11375, 12303, 2135, 11210, 91107])

In [30]:
print("Cities lived and their zip codes")
for key,value in cities_lived.items():
	print ("The city is", key, "the zip code is", value)

Cities lived and their zip codes
The city is Forest Hills the zip code is 11375
The city is Schenectady the zip code is 12303
The city is Brighton the zip code is 2135
The city is Brooklyn the zip code is 11210
The city is Pasadena the zip code is 91107

In [31]:
#Remove a key-value pair from a dictionary
print ("Value of key " + str(cities_lived.pop('Brooklyn', "not found")))
print (cities_lived)

Value of key 11210
{'Forest Hills': 11375, 'Schenectady': 12303, 'Brighton': 2135, 'Pasadena': 91107}

In [32]:
#Remove a random one
print (cities_lived.popitem())
print (cities_lived)

('Pasadena', 91107)
{'Forest Hills': 11375, 'Schenectady': 12303, 'Brighton': 2135}

In [33]:
#Prints dictionary with keys sorted
print(sorted(cities_lived.keys()))

#Prints dictionary with values sorted
print (sorted(cities_lived.values()))

['Brighton', 'Forest Hills', 'Schenectady']
[2135, 11375, 12303]